<template>
  <v-row>
    <v-col>
      <v-row>
        <v-col
          cols="12"
          class="py-0"
        >
          <v-card
            class="pa-10"
          >
            <v-col
              cols="12"
              class="py-0"
            >
              <v-row>
                <v-col
                  class="py-0"
                  cols="12"
                >
                  <v-textarea
                    outlined
                    auto-grow
                    v-model="question.text"
                    label="Question"
                    required
                  ></v-textarea>
                </v-col>
                <v-col
                  cols="12"
                  class="py-0"
                  align="center"
                >
                  <template
                    v-for="(answer, i) in question.answers"
                  >
                    <v-row
                      v-bind:key="i"
                    >
                      <v-col
                        class="py-0"
                        cols="12"
                      >
                        <v-row
                          align="center"
                        >
                          <v-col
                            class="py-0"
                            cols="6"
                          >
                            <v-checkbox
                              v-model="answer.isCorrect"
                              :value="false"
                              label="Correct answer"
                            ></v-checkbox>
                          </v-col>
                          <v-col
                            v-if="i >= 2"
                            class="py-0"
                            cols="6"
                            align="right"
                          >
                            <v-btn
                              color="secondary"
                              @click=(remove_answers(i))
                            >
                              Remove answer
                            </v-btn>
                          </v-col>
                        </v-row>
                        <v-row
                        >
                          <v-col>
                            <v-textarea
                              outlined
                              auto-grow
                              v-model="answer.text"
                              rows="2"
                              label="Write an answer"
                              required
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </template>
                </v-col>
                <v-col
                  cols="12"
                  align="right"
                  class="mb-6"
                >
                  <v-btn
                    color="success"
                    @click=(add_answers())
                  >
                    Add answer
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  class="py-0"
                >
                  <v-divider></v-divider>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-if="messageError != ''"
                  cols="12"
                  align="left"
                  class="mt-6"
                >
                  <v-alert type="error">
                    {{messageError}}
                  </v-alert>
                </v-col>
                <v-col
                  cols="12"
                  class="py-0"
                >
                  <v-btn
                    color="primary"
                    class="mr-4 mt-8"
                    @click="save_activity()"
                  >
                    Save Question
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
      <template
        v-for="(activity, i) in activities"
      >
        <v-row
          v-bind:key="i"
        >
          <v-col
            cols="12"
          >
            <v-card
              class="px-10"
            >
              <v-card-title class="title font-weight-regular justify-space-between">
                <span>Preview {{i+1}}</span>
              </v-card-title>
              
              <v-col
                cols="12"
                class="py-0"
              >	
                <v-row>
                  <v-col
                    cols="6"
                    class="py-0"
                  >
                    <v-switch
                      v-model="readOnly"
                      class="ma-2"
                      label="Read only"
                    ></v-switch>
                  </v-col>
                  <v-col
                    cols="6"
                    class="py-0"
                    align="right"
                    justify-end
                  >
                    <v-btn
                      color="secondary"
                      :disabled=readOnly
                      fab
                      small
                      @click="remove_activity(i)"
                    > 
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                    cols="12"
                    class="py-0"
                  >
                    <v-textarea
                      outlined
                      auto-grow
                      :disabled=readOnly
                      label="Question"
                      required
                      v-model="activity.text"
                    ></v-textarea>
                  </v-col>
                  <v-col
                    cols="12"
                    class="py-0"
                    align="center"
                  >
                    <template
                      v-for="(answer, y) in activity.answers"
                    >
                      <v-row
                        v-bind:key="y"
                      >
                        <v-col
                          cols="12"
                          class="py-0"
                        >
                          <v-row
                            align="center"
                          >
                            <v-col
                              cols="6"
                              class="py-0"
                            >
                              <v-checkbox
                                :disabled=readOnly
                                v-model="answer.isCorrect"
                                :checked="answer.isCorrect"
                                label="Correct answer"
                              ></v-checkbox>
                            </v-col>
                            <v-col
                              cols="6"
                              class="py-0"
                              align="right"
                              v-if="y >= 2"
                            >
                              <v-btn
                                :disabled=readOnly
                                color="secondary"
                                @click="remove_question_answer(i, y)"
                              >
                                Remove Question
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-row
                          >
                            <v-col>
                              <v-textarea
                                :disabled=readOnly
                                auto-grow
                                outlined
                                rows="2"
                                label="Update an answer"
                                v-model="answer.text"
                                :value="answer.text"
                                required
                              ></v-textarea>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </template>
                  </v-col>
                  <v-col
                    cols="12"
                    align="right"
                    class="mb-6"
                  >
                    <v-btn
                      :disabled=readOnly
                      color="success"
                      @click="add_question_answer(i)"
                    >
                      Add Question
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-col>
  </v-row>
</template>

<script>
	export default {
    props: ['activitiesGlobal'],
		data: function() {
			return {
        messageError: '',
				title: 'New activity',
				answerCount: 2,
				question: {
					text: '',
					answers: [
						{text: '', isCorrect: false },
						{text: '', isCorrect: false },
					]
				},
				activityTitles: [
					'Questions',
				],
        readOnly: true,
        activities: this.activitiesGlobal,
			}
		},
		methods: {
			add_question_answer: function (activityId) {
				this.activities[activityId].answers.push({text: '', isCorrect: false});
			},
			remove_question_answer: function (activityId, answerId) {
				this.$delete(this.activities[activityId].answers, answerId);
			},
			remove_activity: function (id) {
				this.$delete(this.activities, id);
			},
			remove_answers: function (id) {
				this.$delete(this.question.answers, id);
				this.answerCount--;
			},
			add_answers: function () {
				this.question.answers.push({text: '', isCorrect: false});
				this.answerCount++;
			},
			save_activity: function () {
        for (let i = 0; i < this.question.answers.length; i++) {
          if (this.question.answers[i].isCorrect == true) {
            this.activities.push(this.question);
            this.answerCount = 2;
            this.question = {
              text: '',
              answers: [
                {text: '', isCorrect: false },
                {text: '', isCorrect: false },
              ]
            };
            this.messageError = '';
            break;
          }else {
            if (this.question.answers.length - 1 == i) {
              this.messageError = 'Choose at least one correct option.'; 
            }
          }
          
        }
			},
		},
	}
</script>