<template>
  <v-row>
    <v-col>
      <templete v-if="activities.length == 0">
        <v-row>
          <v-col>
            <v-alert type="error">
              {{'No questions added'}}
            </v-alert>
          </v-col>
        </v-row>
      </templete>
      <template
        v-for="(activity, i) in activities"
      >
        <v-row
          v-bind:key="i"
        >
          <v-col
            cols="12"
          >
            <v-card
              class="px-10"
            >
              <v-card-title class="title font-weight-regular justify-space-between">
                <span>Question {{i+1}}</span>
              </v-card-title>
              
              <v-col
                cols="12"
                class="py-0"
              >	
                <v-row>
                  <v-col
                    cols="12"
                    class="py-0"
                  >
                    <v-textarea
                      outlined
                      auto-grow
                      readonly
                      label="Question"
                      required
                      :value="activity.text"
                    ></v-textarea>
                  </v-col>
                  <v-col
                    cols="12"
                    class="py-0"
                    align="center"
                  >
                    <v-radio-group
                      v-model="selectedAnswers[i]"
                    >
                      <template
                        v-for="(answer, y) in activity.answers"
                      >
                        <div
                          v-bind:key="y"
                        >
                          <v-radio
                            :key="y"
                            :label="answer.text"
                            :value="'radio-' + y + '-' + answer.isCorrect"
                          >
                          </v-radio>
                        </div>
                      </template>
                    </v-radio-group>
                  </v-col>
                </v-row>
              </v-col>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-col>
    <v-col
      v-if="showButton == 'true'"
      cols="12"
      align="left"
      class="mt-6 text-center"
    >
        <v-btn
          color="primary"
          href="https://www.youtube.com/watch?v=uebRV21rWOM"
        >
          Show Video
        </v-btn>
    </v-col>
  </v-row>
</template>

<script>
	export default {
    props: ['activitiesGlobal'],
    data: function() {
			return {
        activities: this.activitiesGlobal,
        readOnly: true,
        selectedAnswers: [],
        count: 0,
        showButton: 'false',
			}
    },
    watch: {
      selectedAnswers: function () {
        for (let i = 0; i < this.activities.length; i++) {
          if (this.selectedAnswers.length == this.activities.length) {
            this.checkButton();
          }
        }
      }
    },
    methods: {
      checkButton: function () {
        for (let i = 0; i < this.selectedAnswers.length; i++) {
          if (!this.selectedAnswers[i].includes('true')) {
            this.showButton = 'false';
            break
          }else{
            this.showButton = 'true';
          }
        }
      }
    }
	}
</script>