<template>
  <v-app>
    <template>
      <v-bottom-navigation
        max-height="100%"
      >
        <v-btn
          height="100%"
          to="/"
        >
          <span>Admin</span>
          <v-icon>mdi-account-cog</v-icon>
        </v-btn>

        <v-btn
          height="100%"
          to="/preview"
        >
          <span>Preview</span>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </template>

    <v-content>
      <v-container>
        <v-layout>
          <router-view v-bind="globalProps"></router-view>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  computed: {
    globalProps() {
      return {
        activitiesGlobal: [],
      }
    }
  },
  data: () => ({
    //
  }),
};
</script>
